/*
=============
RESET ESTILOS
=============
*/

* {
  font-size: 1rem;
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
=================
ESTILOS GENERALES
=================
*/

div.areaActiva {
  width: 1024px;
  min-height: 300px;
  background-color: hsl(125, 50%, 15%);
  margin-left: auto;
  margin-right: auto;
}

/*
===================
HEADER (ENCABEZADO)
===================
*/

header {
  background-color: hsl(125, 60%, 25%);
  min-height: 100px;
}

/*
===================
CONTENIDO PRINCIPAL
===================
*/

main {
  background-color: hsl(125, 60%, 40%);
  min-height: 300px;
}

/*
=================
SECCIÓN SERVICIOS
=================
*/

#seccionServicios {
  background-color: hsl(125, 60%, 50%);
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

#seccionServicios > article {
  min-height: inherit;
  width: 30%;
}

#carta1 {
  background-color: hsl(330, 85%, 60%);
}

#carta2 {
  background-color: hsl(330, 80%, 70%);
}

#carta3 {
  background-color: hsl(330, 50%, 40%);
}
