/*
=============
IMPORTACIONES
=============
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300');

/*
=============
RESET ESTILOS
=============
*/

* {
  font-size: 1rem;
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
=================
ESTILOS GENERALES
=================
*/

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(#FC5E55, #FA4083);
  color: white;
}

div.areaActiva {
  width: 1024px;
  min-height: 300px;
  background-color: hsl(125, 50%, 15%);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

/*
===================
HEADER (ENCABEZADO)
===================
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(125, 60%, 25%);
  padding: 0.5em 0;
}

#contenedorLogo img {
  height: 70px;
}

nav li {
  display: inline;
  text-transform: uppercase;
  margin-left: 2em;
}

/*
==========================
CONTENIDO PRINCIPAL (HERO)
==========================
*/

main {
  display: flex;
  align-items: center;
  min-height: 300px;
  background-color: hsl(125, 60%, 40%);
}

#contenedorTextoHero {
  flex: 2;
  background-color: cornflowerblue;
}

#contenedorImagenHero {
  flex: 1;
  min-height: inherit;
  background-color: skyblue;
  background-image: url(/imagenes/imagenHero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*
=================
SECCIÓN SERVICIOS
=================
*/

#seccionServicios {
  background-color: hsl(125, 60%, 50%);
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

#seccionServicios article {
  width: 30%;
}

#carta1 {
  background-color: hsl(330, 85%, 60%);
}

#carta2 {
  background-color: hsl(330, 80%, 70%);
}

#carta3 {
  background-color: hsl(330, 50%, 40%);
}
