/*
=============
IMPORTACIONES
=============
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300');

/*
=============
RESET ESTILOS
=============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font: inherit;
}

ol, ul {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

h1, h2, p {
  line-height: 1;
}

button, input {
  border: none;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Colores */
  --colorPrimario: hsl(0, 98%, 65%);
  --colorGradiente: hsl(340, 98%, 65%);
  --colorHover: hsl(160, 90%, 48%);

  /* Fuentes */
  --fuenteTitulos: 'Playfair Display', serif;
  --fuenteCuerpo: 'Roboto', sans-serif;

  /* Estilos */
  --sombraGeneral: 0px 1px 1px rgba(0, 0, 0, 0.4);

}

/*
=================
ESTILOS GENERALES
=================
*/

body {
  --gradiente: linear-gradient(var(--colorPrimario), var(--colorGradiente));
  --imagen: url('/imagenes/fondoLogoLeon.png');
  background-image: var(--imagen), var(--gradiente);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: var(--fuenteCuerpo);
  color: white;
}

div.areaActiva {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: var(--fuenteTitulos);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3.25rem;
  text-shadow: var(--sombraGeneral);
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.boton {
  cursor: pointer;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  padding: 1em 2.5em;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  box-shadow: var(--sombraGeneral);
}

/*
===================
HEADER (ENCABEZADO)
===================
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}

#contenedorLogo img {
  height: 60px;
}

div.menuNavegacion {
  display: inline-block;
  margin-left: 0.85em;
  position: relative;
}

div.menuNavegacion > a.boton {
  display: inline-block;
  padding: 0.75em 2em;
  border: 1px solid white;
  box-shadow: none;
}

div.menuDesplegable {
  display: none;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 0%;
  top: 100%;
  z-index: 1;
}

div.menuNavegacion:hover div.menuDesplegable {
  display: initial;
}

div.menuNavegacion:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

div.menuDesplegable a {
  display: block;
  background-color: white;
  color: var(--colorPrimario);
  text-align: center;
  font-size: 0.875rem;
  padding: 0.5em 0px;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

div.menuDesplegable a:hover {
  color: white;
  background-color: var(--colorHover);
  transition-duration: 500ms;
}


/*
===========================
CONTENIDO PRINCIPAL GENERAL
===========================
*/

main {
  padding: 2rem 0px;
}

main.hero {
  display: flex;
}

main p {
  font-size: 1.125rem;
}

main .boton {
  margin-top: 0.8rem;
  background-color: white;
  color: var(--colorPrimario);
}

main .boton:hover {
  background-color: var(--colorHover);
  color: white;
  transition-duration: 0.5s;
}

/* 
=========================
CONTENIDO PRINCIPAL: HOME
=========================
*/

#contenedorTextoHero {
  flex: 2;
}

#contenedorTextoHero p {
  padding-right: 20%;
}

#contenedorImagenHero {
  flex: 1;
  background-image: url('/imagenes/imagenHero.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
==============================
CONTENIDO PRINCIPAL: CONTACTO
==============================
*/

#seccionMediosContacto {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

#seccionMediosContacto article {
  width: 30%;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

div.nombreMedioContacto {
  font-family: var(--fuenteTitulos);
  background-color: white;
  color: var(--colorPrimario);
  padding: 0.3em 0px;
}

div.nombreMedioContacto i {
  display: inline-block;
  margin-right: 0.5rem;
}

div.nombreMedioContacto ~ span {
  padding: 0.75em 0px;
  font-size: 0.875rem;
  display: block;
}


/*
==================
SECCIÓN FORMULARIO
==================
*/

#seccionFormulario {
  margin: 2rem 0px 1rem 0px;
}

div.contenedorCampo {
  margin: 1em 0px;
}

/*
=================
SECCIÓN SERVICIOS
=================
*/

#seccionServicios {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

#seccionServicios article {
  width: 30%;
  background-size: auto 100%;
  background-position: bottom;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-size 0.75s;
}

#seccionServicios article:hover {
  background-size: auto 110%;
}

#seccionServicios a {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seccionServicios p {
  font-size: 0.85rem;
  line-height: 1.6;
  text-align: center;
}

#seccionServicios i {
  font-size: 2rem;
  margin-right: 0.3em;
}

#seccionServicios h2 {
  display: inline-block;
}

#carta1 {
  background-image: url('/imagenes/imagenCarta1.jpg');
}

#carta2 {
  background-image: url('/imagenes/imagenCarta2.jpg');
}

#carta3 {
  background-image: url('/imagenes/imagenCarta3.jpg');
}

/* 
====================
SECCIÓN: TESTIMONIOS
====================
*/

#seccionTestimonios {
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.cartaTestimonio {
  margin: 15px 0px;
  width: 48%;
  border: 1px solid white;
  padding: 0.75em 1.5em;
  border-radius: 5px;
}

div.cartaTestimonio p:last-of-type {
  font-family: var(--fuenteTitulos);
  padding-left: 1em;
}